<div class="row">
    <div class="col-md-12">
        <h1>Your message</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Recipient</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><%= @recipient %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Message</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><%= @message.title %></p>
        <p><%= @message.content %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Sent at</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><%= @message.created_at %></p>
    </div>
</div>