<div class="row">
	<div class="col-md-12">
			<h1>Welcome to <%= global_website_name %></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-12">
		<div class="registerBox">
			<p>In order to use this website you are required to register</p>
			<p>To regsiter please click <%= register_link %></p>
			<p>If you have already registered please click <%= signin_link %></p>
		</div>
	</div>
	<div class="col-md-3">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p><%= about_us_text %></p>
	</div>
</div>