.user-yield {
    form {
        .row {
            line-height: 30px;
            input[type="submit"] {
                margin: 10px;
            }
        }
        .row:nth-child(even) {
        	background-color: $sea;
        }
        .row {
            .col-sm-6:nth-child(even) {
                background-color: $sea;
                input {
                    margin: 4px auto;
                }
            }
        }
    }
}