.user-yield {
    form {
        .profile-accordian {
            margin: 20px 0;
        }
        .row {
            line-height: 30px;
            input[type="submit"] {
                margin: 10px;
            }
            input {
                margin: 5px 0;
            }
            textarea {
                height: 150px;
                resize: horizontal;
            }
        }
    }
}