.forums, .topics, .posts {
    text-align: center;
    border-color: gray;
    label, h3 {
        display: none;
    }
    #posts-description {
        max-height: 100px;
        width: 80%;
    }
    input, textarea {
        width: 80%;
        margin: 0;
        resize: none;
    }
    .header {
        border-color: gray;
        font-weight: bold;
    }
    &.row:nth-child(odd) {
        background-color: $mist;
    }
    .title, .input {
        background-color: $mist;
    }
    .description {
        background-color: $mist;
    }
    .footer p {
        padding: 0;
        margin: 10px 0;
    }
    .row:nth-child(odd) {
        background-color: $mist;
    }
    .posts-new {
        background-color: $pond;
        input, textarea {
            width: 80%;
            border: 1px solid $darkMist;
            resize: none;
        }
        .row {
            background-color: transparent;
            padding: 0;
        }
        .posts-new-container {
            margin: 10px;
        }
    }
}