.forums, .topics, .posts {
    text-align: center;
    border-color: gray;
    .header {
        border-color: gray;
        font-weight: bold;
    }
    &.row:nth-child(odd) {
        background-color: $mist;
    }
    .title, .input {
       // background-color: $mist;
    }
    textarea {
        resize: vertical;
        height: 100px;
    }
    .description {
       // background-color: $mist;
    }
    .footer p {
        padding: 0;
        margin: 10px 0;
    }
    .reply-left, .reply-right {
        padding: 10px 0;
        div {
            display: inline-block;
        }
        p {
            display: inline-block;
        }
    }
    .reply-left {
        text-align: left;
        .title, .alias {
            width: 30%;
            left: 70%;
        }
        .title {
            position: relative;
            width: 30%;
        }
        .alias {
            position: absolute;
            width: 30%;
            left: 0%;
        }
        .description {
            position: relative;
            width: 40%;
        }
    }
    .reply-right {
        text-align: right;
        .title, .alias {
            width: 30%;
        }
    }
    .row:nth-child(odd) {
        //background-color: $mist;
    }
    .posts-new {
        background-color: $pond;
        .row {
            background-color: transparent;
            padding: 0;
        }
        .posts-new-container {
            margin: 10px 0;
        }
    }
}