.locations {
    .maps {
        height: 500px;
    }

    .index-wrapper {
        border: 1px solid $seabreeze;
        padding: 10px 0;
        min-height: 175px;
        img {
            max-width: 80px;
        }
    }
    .gMap {
        padding: 10px 0;
    }
}
