.locations {
    .maps {
        height: 500px;
        z-index: 0;
    }

    .index-wrapper {
        min-height: 175px;
        img {
            max-width: 80px;
        }
        &:nth-child(odd) {
            background-color: $ocean;            
        }
    }
    .gMap {
        padding: 10px 0;
    }
}
