//Font to be used for the app
@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);

* {
    font-family: 'Ropa Sans', sans-serif;
    line-height: initial;
}

body {
    font-size: 1.5em;
    margin: 0;
    background-color: $white;
    color: $maelstrom;
    text-align: center;
}

a {
    display: inline-block;
    color: $maelstrom;
    text-decoration: none;
    text-decoration: underline;
    transition: color 0.25s;
    &:hover {
        color: $storm;
    }
}

input[type="submit"] {
    cursor: pointer;
    border: 0px;
}

h2 {
    font-weight: normal;
}

p, a {
    margin: 0px;
    line-height: 26px;
}


span.visible-xs {
    display: inline-block !important;
}

//Labels and h3's don't show on mobile
label, h3 {
    display: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

input, textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    padding: 10px;
    background-color: $wading;
    border: 1px solid $storm;
    text-decoration: underline;
}

.fa-spinner {
    -moz-animimation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.container {
    overflow: hidden;
}

#content.sidebar-visible {
    left: 25%;
}

#sidebar {
    margin: 0px;
    text-align: center;
    z-index: 5;
    position: absolute;
    left: -25%;
    div {
        background-color: $pills;
        color: $white;
        transition: 0.25s;
        &:hover {
            background-color: $water;
            color: $goldfish;
        }
        &:first-child {
            z-index: 5;
        }
        a, input[type="submit"] {
            padding: 10px 0;
            width: 100%;
            background-color: initial;
            border: initial;
            text-decoration: none;
            cursor: pointer;
            span {
                text-decoration: underline;
            }
        }
        &:last-child {
            &:after {
                border: 0px;
            }
        }
        &:after {
            border-bottom: 1px solid $water;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &.sidebar-visible {
        width: 25%;
        left: 0%;
    }
}

.menu {
    text-align: left;
}

.main-title, .main-information {
    padding: 20px 0;
    background-color: $pond;
}

.main-title {
    text-align: center;
    z-index: 4;
    a {
        margin: 5px 0;
    }
    h1 {
        margin: 0;
    }
    //Slideshow
    .slideshow {
        display: block;
        z-index: 3;
    }
}

.main-yield {
    z-index: 3;
    padding: 20px 0;
    a {
        font-size: 1.4em;
    }
}

#content, #sidebar {
    -webkit-box-shadow: 0 1px 3px $shadow, 0 0 40px $shadow inset;
    -moz-box-shadow: 0 1px 3px $shadow, 0 0 40px $shadow inset;
    box-shadow: 0 1px 3px $shadow, 0 0 40px $shadow inset;
    background-color: $white;
    border-radius: 0 0 5px 0;
}

.errorBox {
    padding: 0 0 25px 0;
    font-size: 1.2em;
    div:first-child {
        background-color: $error;
    }
}

.options {
    form {
        display: inline-block;
        input[type="submit"] {
            border: 0px;
            text-decoration: underline;
            font-size: 1.4em;
        }
    }
}

.notice {
    background-color: $notice;
    padding: 20px 0;
    text-align: center;
}