//Font to be used for the app
@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);

body {
    font-family: 'Ropa Sans', sans-serif;
    background-color: $white;
    font-size: 16px;
    line-height: initial;
    margin: 0;
}

a {
    display: inline-block;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.25s;
    &:hover {
        color: $storm;
        text-decoration: underline;
    }
}

p {
    margin: 5px;
}

ul {
    padding: 0;
    list-style-type: none;
}

input, textarea {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 16px;
}

.main-sidebar {
    background-color: $pills;
    margin: 0px;
    text-align: center;
    z-index: 5;
    a {
        display: block;
        padding: 10px 0;
        transition: 0.25s;
        -webkit-box-shadow: 0 0 10px $pills;
           -moz-box-shadow: 0 0 10px $pills;
                box-shadow: 0 0 10px $pills;
        z-index: 5;
        span {
            display: block;
        }
        &:hover {
            background-color: $pills;
        }
    }
    div {
        display: none;
    }
    &.visible {
        div {
            display: block;
        }
    }
}

.main-title {
    background-color: $pond;
    text-align: center;
    z-index: 4;
    -webkit-box-shadow: 0 10px 10px $pond;
       -moz-box-shadow: 0 10px 10px $pond;
            box-shadow: 0 10px 10px $pond;
    a {
        margin: 5px 0;
    }
    h1 {
        margin: 0;
    }
    //Slideshow
    .slideshow {
        display: block;
        z-index: 3;
    }
}

.main-yield {
    z-index: 3;
    background-color: $background;
    text-align: center;
    a {
        margin: 5px;
        color: $pills;
    }
    .row:first-child {
        background-color: $mist;
    }
}

.main {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.main:before, .main:after
{
    content:"";
    position:absolute;
    z-index:-1;
//    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
//    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
//    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.main:after
{
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.main-information {
    text-align: center;
    background-color: $pills;
    -webkit-box-shadow: 0 -1px 10px $pills;
       -moz-box-shadow: 0 -1px 10px $pills;
            box-shadow: 0 -1px 10px $pills;
}

.registerBox {
    background-color: $storm;
}

.errorBox {
    padding: 5px;
    background-color: $error;
    margin: 5px 0;
}

//Should be in location partial
.index-wrapper {
    text-align: right;
    .index-overlay {
        position: relative;
        padding: 0;
        img {
            width: 100%;
        }
        .locationOverlayText {
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: $darkMist;
            height: 100%;
            padding: 0 10px 0 10px;
            vertical-align: middle;
        }
    }
}