.messages, .sentmessages {
    .row:nth-child(odd) {
        background-color: $mist;
    }
    .read-Unread {
        background-color: $storm;
    }
    .status {
        font-weight: bold;
    }
    .div-block {
        display: inline;
        div {
            display: inline;
        }
    }
    .message-content {
        p,h3 {
            padding-right: 20px;
        }
    }
}