.messages, .sentmessages {
    .read-Unread {
        background-color: $seabreeze;
    }
    .status {
        font-weight: bold;
    }
    .div-block {
        display: inline;
        div {
            display: inline;
        }
    }
}