.photo-overlay {
    position: relative;
    margin: 5px 0;    
    .photo-image {
        float: left;
        width: 70%;
        img {
            width: 100%;
        }
    }
    .photo-overlay-text {
        float: right;
        top: 0px;
        text-align: center;
        background-color: $pills;
        min-height: 100%;
        width: 30%;
        input[type="submit"] {
            background-color: inherit;
        }
    }
}