@media (min-width: 1200px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width: 768px) {
    label, h3 {
        display: block;
    }
    .forums, .topics, .posts {
        input, textarea {
            margin: 10px;
        }
    }
    .main-sidebar {
        div {
            display: block;
        }
    }
    .messages, .sentmessages {
        input, textarea {
            width: 50%;
            resize: none;
        }
        .message-content {
            text-align: right;
        }
    }
}