@media (min-width: 1200px) {
}

@media (min-width: 768px) {
    label, h3 {
        display: block;
    }
    .container {
        width: 95%;
    }
    .forums, .topics, .posts {
        input, textarea {
            margin: 10px;
        }
    }
    #sidebar {
        position: initial;
    }
    .messages, .sentmessages {
        input, textarea {
            width: 50%;
            resize: none;
        }
        .message-content {
            text-align: right;
        }
    }
    span.visible-xs {
        display: none !important;
    }
}
