@media (min-width: 1200px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width: 768px) {
    label, h3 {
        display: block;
    }
    .forums, .topics, .posts {
        input, textarea {
            margin: 10px;
        }
    }
    #sidebar {
        .row {
            display: block;
            border-right: 1px solid $pond;
            &:first-child {
                border: 0px;
            }
            &:last-child {
                border-radius: 0 0 5px 0;
            }
        }
    }
    #content, #sidebar {
        &:after {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 15px;
            right: 10px;
            left: auto;
            width: 50%;
            top: 80%;
            background: #777;
            -webkit-box-shadow: 0 15px 10px #777;
            -moz-box-shadow: 0 15px 10px #777;
            box-shadow: 0 15px 10px #777;
            -webkit-transform: rotate(3deg);
            -moz-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            transform: rotate(3deg);
        }
        &:before {
            z-index: -1;
            position: absolute;
            content: "";
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
    .messages, .sentmessages {
        input, textarea {
            width: 50%;
            resize: none;
        }
        .message-content {
            text-align: right;
        }
    }
    span.visible-xs {
        display: none !important;
    }
}
