/*
*http://www.colourlovers.com/palette/92095/Giant_Goldfish
*http://www.colourlovers.com/palette/475875/Gentle_Waves
*/

//Bright Template
//Solids
$aoi        :   rgba(105,210,231, 1);
$pond       :   rgba(167,219,216, 1);
$storm      :   rgba(224,228,204, 1);
$goldfish   :   rgba(243,134,48, 1);
$white      :   white;

$error      :   rgba(230,0,0, 1);

//Transparents
$pills      :   rgba(250,105,0, 0.8);
$background :   rgba(233,233,233, 0.5);
$mist       :   rgba(211,226,182, 0.4);
$darkMist   :   rgba(211,226,182, 0.9);
$ocean      :   rgba(195,219,180, 0.1);
$sea        :   rgba(170,204,177, 0.1);
$water      :   rgba(135,189,177, 0.1);
$wading     :   rgba(104,179,175, 0.1);


//Dark Template
//Solids
$aoi        :   rgba(105,210,231, 1);
$white      :   white;

$error      :   rgba(200,0,0, 1);

//Transparents
$ocean      :   rgba(25,25,25, 0.1);
$seabreeze	:   rgba(25,25,25, 0.2);
$background :   rgba(25,25,25, 0.3);
$pond       :   rgba(25,25,25, 0.4);
$storm      :   rgba(25,25,25, 0.5);
$maelstrom  :   rgba(25,25,25, 1);
$sea        :   rgba(255,255,255, 0.2);
$goldfish   :   rgba(255,255,255, 0.6);
$darkMist   :   rgba(255,255,255, 0.7);
$mist       :   rgba(255,255,255, 0.8);
$pills      :   rgba(25,25,25, 0.8);
$water      :   rgba(135,189,177, 0.1);
$wading     :   rgba(104,179,175, 0.1);