<div class="row">
    <div class="span12">
        <h1>All of our members profiles</h1>
    </div>
</div>
<div class="row">
    <% @users.each do |f|%>
        <div class="span6 profile">
            <div class="row">
                <div class="span3">
                    <p>Username:</p>
                </div>
                <div class="span3">
                    <p><%= f.alias %></p>
                </div>
                <div class="span3">
                    <p>City:</p>
                </div>
                <div class="span3">
                    <p><%= f.location.city %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>